{
  "bar": {
    "centerAnchor": "omarchy.clock",
    "layout": {
      "center": [
        { "id": "omarchy.indicators" },
        {
          "id": "robertlindomar.omarchy-ptbr.clock",
          "format": "ddd d MMM HH:mm",
          "formatAlt": "d MMMM 'W'ww yyyy",
          "verticalFormat": "HH\n—\nmm",
          "birthYear": 0,
          "lifeExpectancy": 80
        },
        { "id": "omarchy.keyboard-layout" },
        { "id": "robertlindomar.omarchy-ptbr.weather" },
        { "id": "omarchy.system-update" }
      ],
      "left": [
        { "id": "robertlindomar.omarchy-ptbr.menu" },
        { "id": "omarchy.workspaces" }
      ],
      "right": [
        { "id": "omarchy.tray" },
        { "id": "omarchy.tailscale" },
        { "id": "robertlindomar.omarchy-ptbr.agents" },
        { "id": "robertlindomar.omarchy-ptbr.bluetooth" },
        { "id": "robertlindomar.omarchy-ptbr.network" },
        { "id": "robertlindomar.omarchy-ptbr.audio" },
        { "id": "omarchy.monitor" },
        { "id": "robertlindomar.omarchy-ptbr.power" }
      ]
    }
  },
  "plugins": [
    { "id": "robertlindomar.omarchy-ptbr.lock" },
    { "id": "robertlindomar.omarchy-ptbr.polkit" },
    { "id": "robertlindomar.omarchy-ptbr.clipboard" },
    { "id": "robertlindomar.omarchy-ptbr.reminders" },
    { "id": "robertlindomar.omarchy-ptbr.speedtest" },
    { "id": "robertlindomar.omarchy-ptbr.disk-speedtest" },
    { "id": "robertlindomar.omarchy-ptbr.notifications" }
  ],
  "disabledPlugins": [
    "omarchy.menu",
    "omarchy.lock",
    "omarchy.polkit",
    "omarchy.clipboard",
    "omarchy.reminders",
    "omarchy.speedtest",
    "omarchy.disk-speedtest",
    "omarchy.notifications"
  ],
  "cloneSourceRestores": [
    "robertlindomar.omarchy-ptbr.menu",
    "robertlindomar.omarchy-ptbr.lock",
    "robertlindomar.omarchy-ptbr.polkit",
    "robertlindomar.omarchy-ptbr.clipboard",
    "robertlindomar.omarchy-ptbr.reminders",
    "robertlindomar.omarchy-ptbr.speedtest",
    "robertlindomar.omarchy-ptbr.disk-speedtest",
    "robertlindomar.omarchy-ptbr.notifications"
  ]
}
